.carousel {
    width: 50%;
    max-width: 1000px;
    height: auto;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: #e6e3e3;
}
.display-carousel h2 {
    text-align: center;
    margin-top: 20px;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    position: relative;
    height:100%;
}

.carousel-item img {
    width: 50%;
    height: 50%;
    margin-left:10px auto;
    object-fit: contain;
    display: block;
}

/* slide text */
.text-aligned-right-center {
    position: absolute;
    right: 50px;
    top: 125px;
    color: rgb(20, 64, 2); /* ตัวหนังสือสีเขียวเข้ม */
    padding: 10px;
    border-radius: 8px;
    max-width: 40%;
    text-align: left;
}
.text-aligned-right-center h3,
.text-aligned-right-center p {
    margin-right: 5px;
}

.text-aligned-right-center h3{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-180%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
}
/* .carousel-Indicator{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.carousel-Indicator button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
} */
.carousel-control-prev { left: 200px; }
.carousel-control-next { right: 200px; }
@media (max-width: 600px) {
    .text-aligned-right-center {
        right: 10px;
        bottom: 10px;
        padding: 8px;
        font-size: 14px;
    }
    .carousel-item img {
        max-height: 300px;
        object-fit: cover;
    }
}